.container {
  height: calc(100vh - 140px - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-align {
  flex: 1;
  text-align: center;
}

.row-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentArea {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.inputbox {
  width: 100%;
  height: 40px;
  font-size: var(--font-size-sm);
}
.textareaBox {
  width: 100%;
  height: 70px;
  resize: none;
}

/* 버튼 관련 ------------------------------ */
.button-wrapper {
  position: relative;
  text-align: center;
}
.popup-button {
  position: absolute;
  top: 100px;
  right: 110px;
}

.pinIcon {
  width: 36px;
  height: 36px;
  margin-top: 5px;
}

.colorchip {
  width: 96px;
  height: 66px;
  border: 1px solid var(--color-line-black);
  border-radius: 3px;
}
.green {
  background-color: var(--color-primary);
}
.pink {
  background-color: var(--color-pink);
}
.yellow {
  background-color: var(--color-yellow);
}
.purple {
  background-color: var(--color-purple);
}
