.contentArea {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

/* 버튼 관련 ------------------------------ */
.button-wrapper {
  position: relative;
  text-align: center;
}
.popup-button {
  position: absolute;
  top: 100px;
  right: 110px;
}

.pinIcon {
  width: 36px;
  height: 36px;
  margin-top: 5px;
}

.colorchip {
  width: 96px;
  height: 66px;
  border: 1px solid var(--color-line-black);
  border-radius: 3px;
}
.green {
  background-color: var(--color-primary);
}
.pink {
  background-color: var(--color-pink);
}
.yellow {
  background-color: var(--color-yellow);
}
.purple {
  background-color: var(--color-purple);
}
