.button {
  background-color: white;
  border-radius: 3px;
  width: calc(10ch + 5%);
  height: 34px;
  border: var(--border-size) solid var(--color-line-black);
  box-shadow: 3px 3px 0px var(--color-line-black);
}

.button:active {
  box-shadow: 0px 0px 0px;
  transform: translate(2px, 2px);
}
