/* button -------------------------------- */
.button {
  background-color: white;
  border-radius: 3px;
  width: calc(12ch + 10%);
  height: 34px;
  border: var(--border-size) solid var(--color-line-black);
  box-shadow: 3px 3px 0px var(--color-line-black);
  cursor: pointer;
}
.button.longButton {
  width: 100%;
}
.button.round {
  width: 74px;
  height: 74px;
  border-radius: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:active {
  box-shadow: 0px 0px 0px;
  transform: translate(2px, 2px);
}

/* ---------------------------------------- */

/* list item ------------------------------ */
.listItem {
  background-color: white;
  border-radius: 3px;
  width: 100%;
  height: 136px;
  border: var(--border-size) solid var(--color-line-black);
  display: flex;
  flex-direction: row;
  padding: 12px;
}
.tagItemBtn {
  margin-top: 12px;
  box-shadow: 3px 3px 0px var(--color-line-black);
  cursor: pointer;
}

.textArea {
  margin: 4px 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.dataTxt {
  margin: 0;
}
.shopTxt {
  margin: 4px 0px;
}
.memoTxt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* ----------------------------------------- */

/* PinMemoCard -------------------------- */
.r_listContainer {
  border-radius: 3px;
  border: var(--border-size) solid var(--color-line-black);
  margin-bottom: 8px;
  padding: 12px;
  flex-direction: row;
  display: flex;
}

.r_memoTxt {
  margin: 0;
  font-size: var(--font-size-sm);
  margin-top: 20px;
}

.deleteBtn {
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 0px var(--color-line-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------- */

/* imageFrame ------------------------------ */
.outerSquare {
  background-color: white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-size) solid var(--color-line-black);
}

.innerSquare {
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.innerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------------------- */

/* FloatingButton -------------------------- */
.floatingButton {
  position: fixed;
  bottom: 110px;
  right: calc(50% - 500px / 2 + 16px);
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  color: var(--color-line-black);
  border: var(--border-size) solid var(--color-line-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 0px var(--color-line-black);
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.floatingButton:hover {
  transform: scale(1.1);
}

/* ----------------------------------------- */

/* RecordCard ------------------------------ */
.vinylContainer {
  position: relative;
  width: 210px;
  height: 140px;
  display: flex;
  margin: 10px 15px 5px 0px;
}

.vinylCase {
  position: relative;
}
.buttonCover {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(50%);
}
.vinyl {
  background: linear-gradient(white, var(--color-pink));
  /* FIXME: background 부분 prop에따라 변경되도록 수정해야함 */
  border: 1.5px solid var(--color-line-black);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  position: absolute;
}
.vinylDeco1 {
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vinylDeco2 {
  width: 55px;
  height: 55px;
  border: 1.5px solid var(--color-line-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.albumButton {
  z-index: 10;
  background-color: white;
  width: 140px;
  height: 140px;
  border: var(--border-size) solid var(--color-line-black);
  box-shadow: 3px 3px 0px var(--color-line-black);
  cursor: pointer;
}
.icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  fill: var(--color-pink);
  /* FIXME: fill 부분 prop에따라 변경되도록 수정해야함 */
}
.label {
  position: absolute;
  bottom: 10px;
  padding: 4px 8px;
  border: var(--border-size) solid var(--color-line-black);
  border-radius: 3px;
  background: white;
  font-size: 15px;
}

/* ----------------------------------------- */

/* PlaceSearchCard ------------------------- */
.s_listContainer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  cursor: pointer;
}

.textWrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

/* ----------------------------------------- */
/* icon, etc ------------------------------- */
.borderBox {
  border: 1px solid var(--color-line-black);
  background-color: white;
  border-radius: 3px;
  padding: 14px;
  width: 100%;
}
.borderBox input {
  border: none;
  margin-left: 12px;
}
.borderBoxTag {
  border: 1px solid var(--color-line-black);
  background-color: white;
  border-radius: 3px;
  width: 100%;
  padding: 4px 4px 4px 2px;
  text-align: center;
}

.grayIcon {
  fill: var(--color-gray);
  margin-right: 12px;
}
