/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css"); */

:root {
  /*------------------ 컬러 ------------------*/
  /*------- 메인 컬러칩 -------*/
  --color-primary: #d4f85b;
  --color-purple: #be50fa;
  --color-pink: #fa50be;
  --color-yellow: #fae150;
  --color-gray: #c8c8c8;
  --color-line-black: #141313; /* 선, 텍스트에 사용되는 모든 검정 */

  /*------- 기타 -------*/
  --color-background: #efefef;

  /*------------------ 사이즈 ------------------*/
  /*------- 폰트 -------*/
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  /*------- 보더라인 -------*/
  --border-size: 1px;
  --border-size-btn: 1.5px;
}

/* ******************************************************************** */

* {
  /* font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */
  box-sizing: border-box;
}

.app-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; /* 최소높이 설정 */
  overflow: hidden;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: calc(
    100vh - 70px
  ); /* 유동적인 높이 조절 위해 min-height 사용, navbar 영역 계산 */
  background-color: white;
}
.content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 78px 26px 110px;
  min-height: 0;
}
.no-nav-background {
  background-color: white;
  height: 90px;
  width: 500px;
  position: fixed;
  bottom: 0;
}

.content-gap {
  margin-bottom: 48px;
}
.no-margin {
  margin: 0;
}

.row-direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row-direction-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-direction-title {
  display: flex;
  flex-direction: row;
  height: 26px;
  align-items: center;
}

/* ******************************************************************** */

.container {
  height: calc(100vh - 140px - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-align {
  flex: 1;
  text-align: center;
}

/* ******************************************************************** */

.text-title {
  font-size: var(--font-size-lg);
  font-weight: bold;
  margin: 0 0 20px;
}
.text-subtitle {
  font-size: var(--font-size-md);
  font-weight: bold;
  margin: 0 0 8px;
}
.text-plain {
  font-size: var(--font-size-sm);
}

/* ******************************************************************** */
.inputbox {
  width: 100%;
  height: 40px;
  font-size: var(--font-size-sm);
}

.textareaBox_sm {
  width: 100%;
  height: 70px;
  resize: none;
  font-size: var(--font-size-sm);
}
