/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css"); */

:root {
  /*------------------ 컬러 ------------------*/
  /*------- 메인 컬러칩 -------*/
  --color-primary: #d4f85b;
  --color-purple: #be50fa;
  --color-pink: #fa50be;
  --color-yellow: #fae150;
  --color-grey: #c8c8c8;
  --color-line-black: #141313; /* 선, 텍스트에 사용되는 모든 검정 */

  /*------- 기타 -------*/
  --color-background: #efefef;

  /*------------------ 사이즈 ------------------*/
  /*------- 폰트 -------*/
  --font-size-sm: 14px
  --font-size-md: 18px;
  --font-size-lg: 20px;
  /*------- 보더라인 -------*/
  --border-size: 1px;
  --border-size-btn: 1.5px;
}

/* ******************************************************************** */

body {
  /* font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; */

  overflow-x: auto;
  /* overflow-y: scroll; */
}

.app-container {
  background-color: var(--color-background);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  width: 500px;
  background-color: white;
}
.content {
  padding: 26px;
}

/* ******************************************************************** */

.nav-bar {
  background-color: white;
  border-top: var(--border-size) solid var(--color-line-black);
  height: 90px;
  width: 500px;
  z-index: 999;

  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  gap: 80px;
  align-items: center;
  overflow: hidden;
}
.nav-item {
  font-size: var(--font-size-md);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-grey);
  transition: transform 0.2s ease, fill 0.2s ease;
}
.nav-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
  fill: var(--color-grey);
}

.nav-item:hover{
  transform: scale(1.12);
  color: var(--color-line-black);
}
.nav-item:hover .nav-icon,
.nav-item.active .nav-icon {
  fill: var(--color-primary);
  stroke: var(--color-line-black);
  stroke-width: var(--border-size);
}
.nav-item.active {
  color: var(--color-line-black);
  font-weight: 600;
}

/* ******************************************************************** */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
